@import 'stylep-grid';
@import 'stylep-alignment';

%bar-block {
  @extend %row;
  max-height: 58px;
  min-height: 58px;
  padding: 0 16px;
  z-index: 100;

  & nav {
    @extend %column;
    padding: .5em 0;

    &:nth-child(even) > ul {
      @extend %end;

      & > li { margin-left: 10px; }
    }

    &:nth-child(odd) > ul {
      @extend %start;

      & > li { margin-right: 10px; }
    }

    & > ul {
      @extend %middle;
      display: flex;
      flex-wrap: wrap;
      height: 41px;
      list-style: none;
      margin: 0;
      padding: 0;

      & > li { display: inline-block; }

      & h1,
      & h2,
      & h3,
      & h4,
      & h5,
      & h6 {
        display: inline;
        font-size: 1.25em;
        font-weight: 400;
        margin-right: 30px;
        margin-top: 0;
        overflow: hidden;
        position: relative;
        text-transform: uppercase;
        padding: 0;
      }
    }
  }
}

@define-mixin bar-solid
  $color-passive: #444,
  $color-text: #fff,
  $radius-size: 0,
  $border: none,
  $shadow: none
{
  background-color: $color-passive;
  border: $border;
  border-radius: $border;
  box-shadow: $shadow;
  color: $color-text;

  @mixin-content;
}

@define-mixin bar-hollow
  $color-passive: #444,
  $color-text: #444,
  $color-background: transparent,
  $radius-size: 0,
  $border-width: 1px,
  $shadow: none
{
  background-color: $color-background;
  border-width: $border-width;
  border-style: solid;
  border-color: $color-passive;
  border-radius: $radius-size;
  box-shadow: $shadow;
  color: $color-text;

  @mixin-content;
}


