@import 'stylep-grid';
@import 'stylep-alignment';

@define-mixin bar-block
  $bar-size: 58px,
  $bar-gutter: 16px,
  $bar-padding: .5em,
  $bar-z-index: 100 {
  @extend %row;
  height: $bar-size;
  padding: 0 $bar-gutter;
  z-index: $bar-z-index;
  @mixin-content;

  & nav {
    @extend %column;
    padding: $bar-padding 0;

    & > ul {
      @extend %middle;
      display: flex;
      flex-wrap: wrap;
      height: calc($bar-size / 1.4);
      list-style: none;
      margin: 0;
      padding: 0;

      & > li { display: inline-block; }
    }

    &:nth-child(odd) > ul {
      @extend %start;

      & > li { margin-right: $bar-gutter; }
    }

    &:nth-child(even) > ul {
      @extend %end;

      & > li { margin-left: $bar-gutter; }
    }
  }
}

@define-mixin bar-solid
  $bar-color: #444,
  $bar-text-color: #fff,
  $bar-shadow: none {
  background-color: $bar-color;
  box-shadow: $bar-shadow;
  color: $bar-text-color;
  @mixin-content;
}

@define-mixin bar-hollow
  $bar-color: #444,
  $bar-border-width: 1px,
  $bar-border-style: solid {
  border-color: $bar-color;
  border-style: $bar-border-style;
  border-width: $bar-border-width;
  color: $bar-color;
  @mixin-content;
}

